* {
    margin: 0;
    padding: 0;
}

#robo-image {
    width: 20%;
    height: 20%;
    margin-top: 300px;
}

div.robo {
    display: flex;
    justify-content: flex-start;
}

#balao-image {
    width: 10%;
    height: 10%;
}

div.balao {
    display: flex;
    justify-content: center;
    margin-top: -500px;
    margin-left: -550px;
}

text {
    color: #384CFF;
    font-family: 'Coming Soon', cursive;
    margin-left: -150px;
    margin-top: 60px;
    font-size: 17px;
}

div.next-page {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    /* height: 100%; */
    margin-top: 60px;
}

#next {
    margin-right: 25px;
    color: #384CFF;
    font-size: 130px;
    margin-top: 200px;
}

#next:hover {
    cursor: pointer;
}

div.before-page {
    display: flex;
    /* justify-content: flex-end; */
    width: 50%;
    height: 100%;
    margin-top: 60px;
}

#before {
    margin-right: 25px;
    color: #384CFF;
    font-size: 130px;
    margin-top: 200px;
    margin-right: 325px;
}

div.buttons {
    display: flex;
    /* margin-top: 70px; */
    width: 100%;
    margin: auto;
}

div.campo-obrigatorio {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#asterisco {
    color: red;
    font-family: 'Coming Soon', cursive;
}

h2 {
    font-family: 'Coming Soon', cursive;
}

div.caixa-texto {
    display: flex;
    align-items: flex-end;
    margin-bottom: 52px;
}

input[type=text] {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #ffffff;
    border: 1px solid #384CFF;
    width: 400px;
    height: 30px;
    font-size: 20px;
    font-family: 'Coming Soon', cursive;
}

textarea {
    border: 1px solid #000000;
    background: #cccccc;
    width: 150px;
    height: 100px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
}

input[type=text]:hover,
textarea:hover {
    background: #ffffff;
    border: 2px solid #384CFF;
}

input[type=submit] {
    background: #384CFF;
    color: #ffffff;
}

input[type=password] {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #ffffff;
    border: 1px solid #384CFF;
    width: 400px;
    height: 30px;
    font-size: 40px;
    font-family: 'Coming Soon', cursive;
}

textarea {
    border: 1px solid #000000;
    background: #cccccc;
    width: 150px;
    height: 100px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
}

input[type=password]:hover,
textarea:hover {
    background: #ffffff;
    border: 2px solid #384CFF;
}

input[type=submit] {
    background: #384CFF;
    color: #ffffff;
}

::-webkit-input-placeholder {
    color: rgb(255, 0, 0);
    font: 16px 'Coming Soon', arial, sans-serif;
    display: flex;
    align-items: center;
}

 :-moz-placeholder {
    color: rgb(255, 0, 0);
    font: 13px 'Coming Soon', arial, sans-serif;
}

 ::-moz-placeholder {
    color: rgb(255, 0, 0);
    font: 13px 'Coming Soon', arial, sans-serif;
}

 :-ms-input-placeholder {
    color: rgb(255, 0, 0);
    font: 13px 'Coming Soon', arial, sans-serif;
}

@media (max-width: 1024px) {
    #robo-image {
        width: 25%;
        height: 25%;
        margin-top: 400px;
    }
    div.balao {
        display: flex;
        justify-content: center;
        margin-top: -430px;
        margin-left: 65px;
    }
    /* #balao-image {
        width: 20%;
        height: 20%;
    } */
    /* text {
        color: #384CFF;
        font-family: 'Coming Soon', cursive;
        margin-left: -130px;
        margin-top: 40px;
        width: 100%;
        height: 100%;
        font-size: 16px;
    } */
    div.next-page {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }
    #next {
        margin-right: 25px;
        color: #384CFF;
        font-size: 130px;
        margin-top: 170px;
    }
    div.before-page {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }
    #before {
        margin-right: 25px;
        color: #384CFF;
        font-size: 130px;
        margin-top: 170px;
        margin-left: 120px;
    }
    div.campo-obrigatorio {
        display: flex;
    }
    input[type=text] {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 1px 1px 2px #333333;
        -moz-box-shadow: 1px 1px 2px #333333;
        -webkit-box-shadow: 1px 1px 2px #333333;
        background: #ffffff;
        border: 1px solid #384CFF;
    }
    textarea {
        border: 1px solid #000000;
        background: #cccccc;
        width: 150px;
        height: 100px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 1px 1px 2px #333333;
        -moz-box-shadow: 1px 1px 2px #333333;
        -webkit-box-shadow: 1px 1px 2px #333333;
    }
    input[type=text]:hover,
    textarea:hover {
        background: #ffffff;
        border: 1px solid #384CFF;
    }
    input[type=submit] {
        background: #384CFF;
        color: #ffffff;
    }
}